@theme {
  /* colors */
  --color-resume-10: #fafafa;
  --color-resume-50: #f5f5f5;
  --color-resume-100: #e0e0e0;
  --color-resume-200: #cccccc;
  --color-resume-300: #b3b3b3;
  --color-resume-400: #8c8c8c;
  --color-resume-500: #666666;
  --color-resume-600: #4d4d4d;
  --color-resume-700: #333333;
  --color-resume-800: #1a1a1a;
  --color-resume-900: #0a0a0a;
  --color-custom-grey: #e0e0e0;
  --color-custom-grey100: #121212;

  /* border radius */
  --border-radius-md: 4px;

  /* box shadow */
  --shadow-level-4px-0.25: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-level-8dp:
    0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12),
    0px 5px 5px rgba(0, 0, 0, 0.2);
  --shadow-level-4dp:
    0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.2);
  --shadow-level-hard: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
